
$flex-direction-props: 'row', 'col';

$flex-justify-content-map: (
    'start': 'flex-start',
    'end': 'flex-end',
    'center': 'center',
    'around': 'space-around',
    'between': 'space-between',
);

$flex-align-items-map: (
    'start': 'flex-start',
    'end': 'flex-end',
    'center': 'center',
    'stretch': 'stretch',
);

.flex {
    display: flex;
}

.row {
    @extend .flex;
    flex-direction: row;
}

.col {
    @extend .flex;
    flex-direction: column;
}


@each $jc-name, $jc-value in $flex-justify-content-map {
    .jc-#{$jc-name} {
        justify-content: unquote($jc-value);
    }
}

@each $ai-name, $ai-value in $flex-align-items-map {
    .ai-#{$ai-name} {
        align-items: unquote($ai-value);
    }
}

@each $dir-name in $flex-direction-props {
  @each $jc-name, $_ in $flex-justify-content-map {
    @each $ai-name, $_ in $flex-align-items-map {
      .#{$dir-name}-#{$jc-name}-#{$ai-name} {
        @extend .#{$dir-name};
        @extend .jc-#{$jc-name};
        @extend .ai-#{$ai-name};
      }
    }
  }
}

$flex-grow-values: 1;

@each $grow in $flex-grow-values {
  .grow-#{$grow} {
    flex-grow: $grow;
  }
}
