$size-map: (
    'width': (100vw, 100%, 320px),
    'height': (100vh, 100%, 100px),
);

@each $size-name, $size-values in $size-map {
    $size-short-name: first-char($size-name);

    @each $size-value in $size-values {
        $size-value-name: name-from-value($size-value);

        .#{$size-short-name}-#{$size-value-name} {
            #{$size-name}: $size-value;
        }

        .min-#{$size-short-name}-#{$size-value-name} {
            min-#{$size-name}: $size-value;
        }
    }
}
